<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">#repo|escape#</a> / search</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}log{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}file/#node|short#{sessionvars%urlparameter}">files</a>#archives%archiveentry#
        </ul>
        <br class="clear"/>
        <form action="{url}log">
            {sessionvars%hiddenformentry}
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" value="#query|escape#" /></dd>
            </dl>
        </form>
    </div>
    <div class="module">
        <h2 class="no-link no-border">searching for #query|escape#</h2>
        #entries#
    </div>
#footer#
